includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app
        - bootstrap
        - config
        - public
        - routes
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    excludes_analyse:
        - public/index.php
        - routes/console.php
    ignoreErrors:
        - '#Parameter \#2 \$callback of function tap expects \(callable\(App\\Models\\User\): void\)\|null, Closure\(App\\Models\\User\): mixed given.#'
        - '#Called .* on Laravel collection, but could have been retrieved as a query.#'
